openapi: 3.1.0
info:
  title: 'Amazon ElastiCache Amazon ElastiCache API #DescribeReplicationGroups API'
  description: Amazon ElastiCache is a fully managed in-memory caching service supporting Redis and Memcached for improving the performance of web applications.
  version: '2015-02-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/elasticache/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://elasticache.amazonaws.com
  description: Amazon ElastiCache API endpoint
tags:
- name: '#DescribeReplicationGroups'
paths:
  /#DescribeReplicationGroups:
    get:
      operationId: describeReplicationGroups
      summary: Amazon ElastiCache Describe Replication Groups
      description: Returns information about a particular replication group or all replication groups.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DescribeReplicationGroups
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2015-02-02'
      - name: ReplicationGroupId
        in: query
        schema:
          type: string
        description: The identifier for the replication group to describe.
      - name: MaxRecords
        in: query
        schema:
          type: integer
        description: The maximum number of records to include in the response.
      - name: Marker
        in: query
        schema:
          type: string
        description: An optional marker returned from a prior request.
      responses:
        '200':
          description: Successful response with replication group details.
        '404':
          description: Replication group not found.
      tags:
      - '#DescribeReplicationGroups'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    aws_sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication.
